<section>
  <div class="input_area">
    <label> Search title
      <input type="text" class="text_input">
    </label>
    <label> Select category
      <select name="" id="" class="text_input"></select>
    </label>
    
  </div>
  <div class="input_range_area">
    <div>
      <label> Price range: </label>
      <div class="range_limits">
        <p>0</p><p>100</p>
      </div>
      <input type="range">
    </div>
    <div>
      <label> Rating range: </label>
      <div class="range_limits">
        <p>1</p><p>5</p>
      </div>
      <input type="range">
    </div>
  </div>
</section>
